@page "{id}"
@using ContosoCrafts.WebSite.Services
@using ContosoCrafts.WebSite.Models
@inject JsonFileProductService ProductService
@model ReadModel
@if(Model.Product != null)
{
    ViewData["Title"] = "Read page";

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <div class="text-center">
        <h1 class="display4">
            Read
        </h1>
    </div>

    <div class="container">
        <h4 class="title" id="productTitle">@Model.Product.Title</h4>

        <div class="card-columns">
            @foreach (string image in Model.Product.Images)
            {
                <img class="card-img" src='@image' alt="Image for @Model.Product.Title" />
            }
        </div>

        <p class="description">@Model.Product.Description</p>
    
            <dl>
                    <dt>Information:</dt>

                    <dd>Best season to visit: @Model.Product.BestSeason.ToString()</dd>

                    <dd>Currency: @Model.Product.Currency</dd>

                    <dd>Timezone: @Model.Product.TimeZone</dd>

                    <dd>Cost: @Model.Product.Cost $</dd>

                    <dd>Travel Time: @Model.Product.TravelTime hr</dd>


                <dt>Attractions:
                    @foreach (string attraction in Model.Product.Attractions)
                    {
                        <dd class="card-text">@attraction</dd>
                    }
                </dt>

            </dl>

        <p>Rating: 
            @{
                int currentRating = Model.Product.GetCityRating();

                for (int i = 1; i < 6; i++)
                {
                    if (i <= currentRating)
                    {
                        <span class="fa fa-star checked"></span>
                    }

                    if(i > currentRating)
                    {
                        <span class="fa fa-star"></span>
                    }
                }

                string voteString;
                if (Model.Product.Ratings == null)
                {
                    voteString = "0 Votes";
                    <span>@voteString</span>
                }

                if(Model.Product.Ratings != null)
                {
                    int voteCount = Model.Product.Ratings.Count();
                    voteString = voteCount + (voteCount == 1 ? " Vote" : " Votes");
                    <span>@voteString</span>
                }

            }

            <div>
                <a asp-page="Update/" asp-route-id="@Model.Product.Id" class="btn btn-update">Update</a>
                <a asp-page="Delete/" asp-route-id="@Model.Product.Id" class="btn btn-delete">Delete</a>
            </div>

        </p>
    </div>
}