@page
@model ContosoCrafts.WebSite.Pages.IndexModel;
@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Contoso Crafts</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css?family=Yellowtail&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
</head>
<body>

    <!-- Slideshow Container -->
    <div class="slideshow-container">
        <div class="myslides fade1"><img class ="background-image" src="@Url.Content("~/Content/beach.jpg")" alt="Beautiful Scenery 1" ></div>
        <div class="myslides fade1"><img class="background_image"  src="@Url.Content("~/Content/landscape.jpg")" alt="Beautiful Scenery 2" ></div>
        <div class="myslides fade1"><img class="background_image"  src="@Url.Content("~/Content/chichen_itza.jpg")" alt="Beautiful Scenery 3" ></div>
        <div class="myslides fade1"><img class="background_image"  src="@Url.Content("~/Content/pyongyang_north_korea.jpg")" alt="Beautiful Scenery 4" ></div>
        <div class="myslides fade1"><img class="background_image" src="@Url.Content("~/Content/Great_Wall.jpg")" alt="Beautiful Scenery 4" ></div>
        <div class="myslides fade1"><img class="background_image" src="@Url.Content("~/Content/Taj_Mahal.jpg")" alt="Beautiful Scenery 4" ></div>

        <div class="centered">
            <h1 class="textcolor" >Vacation Destinations</h1>
            <h5 class="paracolor">Are you ready for an adventure of a lifetime? Uncover hidden gems, taste new flavors, and make unforgettable memories — every city holds a unique adventure waiting just for you!</h5>

            </div>

        <div class="buttoncentered">

            <button class="index-styled-button" onclick="window.location.href = 'Product/IndexPage'"> <h6>Index</h6></button>

            <button class="index-styled-button" onclick="window.location.href = 'Cities'"> <h6>Cities</h6></button>

            <button class="index-styled-button" onclick="window.location.href = 'TravelTipsProduct/TravelTips'"> <h6>Travel Tips</h6></button>

        </div>
   
        </div>
    

    <!-- JavaScript for Automatic Slideshow -->
    <script>
        let slideIndex = 1;
        showSlides(slideIndex);
        function changeSlide(n) {
            showSlides(slideIndex += n);
        }

        // Display slides
        function showSlides(n) {
            let slides = document.getElementsByClassName("myslides");
            if (n >= slides.length) { slideIndex = 1}
            if (n < 0) { slideIndex = slides.length - 1 }
            for (let slide of slides) {
                slide.style.display = "none";
            }
            slides[slideIndex].style.display = "block";
        }

        // Automatic slideshow
        setInterval(() => {
            changeSlide(1); 
        }, 8000);
    </script>
</body>