@page "{id}"
@using ContosoCrafts.WebSite.Services
@inject JsonFileProductService ProductService
@model ContosoCrafts.WebSite.Pages.ReadModel
@{
    ViewData["Title"] = "Read page";
}

<div class="text-center">
    <h1 class="display4"
        style="font-weight: 500;">
        Read
    </h1>
</div>

<div class="container">
    <h5 class="title" id="productTitle">@Model.Product.Title</h5>

    @foreach (string image in Model.Product.Images)
    {
        <img class="card-img" src='@image' alt="Image for @Model.Product.Title" />
    }

    <p class="card-text">@Model.Product.Description</p>

    <p>Currency: @Model.Product.Currency</p>

    <p>Timezone: @Model.Product.TimeZone</p>
</div>